<h5>Choose Page</h5>
{{#link-to 'bills' 1}}1{{/link-to}}
{{#link-to 'bills' 2}}2{{/link-to}}
{{#link-to 'bills' 3}}3{{/link-to}}
{{#link-to 'bills' 4}}4{{/link-to}}
{{#link-to 'bills' 5}}5{{/link-to}}

<h1>Recent Bills</h1>

{{#each model as |bill|}}
  {{bill-tile bill=bill}}
{{/each}}
